.about {
    text-align: center;
    padding: 120px 20px;
    margin-top: 60px;
  }
  
  .about h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  
  .about p {
    margin: 10px 0;
    font-size: 1.1rem;
  }
  .profile-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 60px 20px;
  }
  
  .profile-card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .profile-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    border: 3px solid lightskyblue;
  }
  
  .profile-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #3b3b3b;
  }
  
  .profile-card p {
    font-size: 0.9rem;
    color: grey;
    margin: 5px 0;
  }